table {
    width: fit-content !important;
    margin: auto;
}

a {
    display: inline-block;
    text-decoration: none;
    transition: all .3s;
}

a:hover {
    text-decoration: underline;
}

figcaption {
    color: #aaa;
}

.subtitle {
    color: #aaa;
    font-weight: 600;
}

h1,
.subtitle {
    display: inline;
}

.app-name-link {
    font-weight: 700;
    margin: 16px;
    font-family: "Poppins", "Source Sans Pro", Helvetica, Arial, sans-serif;
}