table {
    margin: auto;
    overflow: scroll;
    display: block;
}

a {
    display: inline-block;
    text-decoration: none;
    transition: all .3s;
}

a:hover {
    text-decoration: underline;
}

figcaption {
    color: #aaa;
}

.subtitle {
    color: #aaa;
    font-weight: 600;
}

h1,
.subtitle {
    display: inline;
}

.app-name-link {
    font-weight: 700;
    margin: 16px;
    font-family: "Poppins", "Source Sans Pro", Helvetica, Arial, sans-serif;
}

.plugin-hero {
    font-weight: 700;
    margin: 16px;
    font-style: italic;
    font-family: "Poppins", Helvetica, Arial, sans-serif;
    text-align: center;
    font-size: 64px;
}

.MathJax_Display{overflow-x:auto;overflow-y:hidden;}
.MathJax{outline:0;}

body {
    font-family: "Inter", "Roboto", -apple-system, BlinkMacSystemFont, 'Helvetica Neue', "微软雅黑", "Microsoft YaHei UI", sans-serif !important;
}
